In [18]:
import pandas as pd
import joblib

model_path = '../../model/test/'
data_path = '../../data/'

# 저장된 모델 및 피처 이름 로드
loaded_model = joblib.load(model_path + 'xgb_광어.joblib')
feature_names = joblib.load(model_path + 'feature_names.pkl')

In [19]:
loaded_model.feature_name_

['m_강서농수산물시장',
 'm_구리농수산물시장',
 'avgPrice_lag_1',
 '광어_20대_1',
 '광어_20대_250',
 '광어_30대_1',
 '광어_30대_317',
 '광어_40대_1',
 '광어_40대_330',
 '광어_50대_1',
 '광어_50대_395',
 '광어_60대이상_1',
 '광어_60대이상_339',
 '광어_Gold_314',
 '광어_KOSPI_136',
 '광어_USD/KRW_1',
 '광어_WTI_1',
 '광어_기온_22105_97',
 '광어_수온_22107_79',
 '광어_습도_22186_349',
 '광어_파주기_22190_103']

In [20]:
feature_names  # error

['m_가락시장',
 'm_강서농수산물시장',
 'm_구리농수산물시장',
 'm_노량진시장',
 'm_마포농수산물시장',
 'm_부산민락어민활어직판장',
 'm_소래포구종합어시장',
 'm_수원농수산물시장',
 'm_안양평촌농수산물시장',
 'm_인천종합연안부두어시장',
 'avgPrice_lag_1',
 '대게_20대_1',
 '대게_20대_273',
 '대게_30대_370',
 '대게_40대_1',
 '대게_40대_5',
 '대게_50대_1',
 '대게_50대_5',
 '대게_60대이상_1',
 '대게_60대이상_5',
 '대게_Gold_177',
 '대게_KOSPI_148',
 '대게_Silver_177',
 '대게_USD/KRW_90',
 '대게_WTI_91',
 '대게_기온_22105_150',
 '대게_수온_22188_140',
 '대게_습도_22188_355',
 '대게_파주기_22105_174']

In [21]:
feature_names = loaded_model.feature_name_  # pkl 파일로 피쳐명을 저장하지 않고, 모델의 피쳐명을 그대로 사용하는 편이 관리가 쉬울 것 같습니다.

In [22]:
# 데이터 로드
data = pd.read_csv(data_path + 'features/final_oneHot/광어_price_features_notnull.csv')   # 예측에 사용할 데이터셋
data

,date,item,m_가락시장,m_강서농수산물시장,m_구리농수산물시장,m_노량진 1층,m_노량진 2층,m_마포농수산물시장,m_부산민락어민활어직판장,m_소래포구종합어시장,...,광어_KOSPI_136,광어_MOVE_18,광어_Silver_238,광어_USD/KRW_1,광어_VIX_399,광어_WTI_1,광어_기온_22105_97,광어_수온_22107_79,광어_습도_22186_349,광어_파주기_22190_103
0,2017-01-30,광어,1,0,0,0,0,0,0,0,...,1999.359985,73.739998,16.346001,1161.260010,16.91,53.779999,18.220833,20.095833,58.875,5.6625
1,2017-01-30,광어,0,1,0,0,0,0,0,0,...,1999.359985,73.739998,16.346001,1161.260010,16.91,53.779999,18.220833,20.095833,58.875,5.6625
2,2017-01-30,광어,0,0,0,1,0,0,0,0,...,1999.359985,73.739998,16.346001,1161.260010,16.91,53.779999,18.220833,20.095833,58.875,5.6625
3,2017-01-30,광어,0,0,0,0,0,1,0,0,...,1999.359985,73.739998,16.346001,1161.260010,16.91,53.779999,18.220833,20.095833,58.875,5.6625
4,2017-01-30,광어,0,0,0,0,0,0,1,0,...,1999.359985,73.739998,16.346001,1161.260010,16.91,53.779999,18.220833,20.095833,58.875,5.6625
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
28374,2024-12-31,광어,0,0,0,0,0,0,1,0,...,2697.229980,85.660004,27.302999,1472.800049,12.69,70.989998,25.445833,28.377778,74.125,3.2750
28375,2024-12-31,광어,0,0,0,0,0,0,0,1,...,2697.229980,85.660004,27.302999,1472.800049,12.69,70.989998,25.445833,28.377778,74.125,3.2750
28376,2024-12-31,광어,0,0,0,0,0,0,0,0,...,2697.229980,85.660004,27.302999,1472.800049,12.69,70.989998,25.445833,28.377778,74.125,3.2750
28377,2024-12-31,광어,0,0,0,0,0,0,0,0,...,2697.229980,85.660004,27.302999,1472.800049,12.69,70.989998,25.445833,28.377778,74.125,3.2750
28378,2024-12-31,광어,0,0,0,0,0,0,0,0,...,2697.229980,85.660004,27.302999,1472.800049,12.69,70.989998,25.445833,28.377778,74.125,3.2750

In [13]:
# 데이터 정렬
data['date'] = pd.to_datetime(data['date'])
data = data.sort_values('date')
data

,date,item,m_가락시장,m_강서농수산물시장,m_구리농수산물시장,m_노량진 1층,m_노량진 2층,m_마포농수산물시장,m_부산민락어민활어직판장,m_소래포구종합어시장,...,광어_KOSPI_136,광어_MOVE_18,광어_Silver_238,광어_USD/KRW_1,광어_VIX_399,광어_WTI_1,광어_기온_22105_97,광어_수온_22107_79,광어_습도_22186_349,광어_파주기_22190_103
0,2017-01-30,광어,1,0,0,0,0,0,0,0,...,1999.359985,73.739998,16.346001,1161.260010,16.91,53.779999,18.220833,20.095833,58.875,5.6625
1,2017-01-30,광어,0,1,0,0,0,0,0,0,...,1999.359985,73.739998,16.346001,1161.260010,16.91,53.779999,18.220833,20.095833,58.875,5.6625
2,2017-01-30,광어,0,0,0,1,0,0,0,0,...,1999.359985,73.739998,16.346001,1161.260010,16.91,53.779999,18.220833,20.095833,58.875,5.6625
3,2017-01-30,광어,0,0,0,0,0,1,0,0,...,1999.359985,73.739998,16.346001,1161.260010,16.91,53.779999,18.220833,20.095833,58.875,5.6625
4,2017-01-30,광어,0,0,0,0,0,0,1,0,...,1999.359985,73.739998,16.346001,1161.260010,16.91,53.779999,18.220833,20.095833,58.875,5.6625
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
28373,2024-12-31,광어,0,0,0,0,0,1,0,0,...,2697.229980,85.660004,27.302999,1472.800049,12.69,70.989998,25.445833,28.377778,74.125,3.2750
28374,2024-12-31,광어,0,0,0,0,0,0,1,0,...,2697.229980,85.660004,27.302999,1472.800049,12.69,70.989998,25.445833,28.377778,74.125,3.2750
28375,2024-12-31,광어,0,0,0,0,0,0,0,1,...,2697.229980,85.660004,27.302999,1472.800049,12.69,70.989998,25.445833,28.377778,74.125,3.2750
28376,2024-12-31,광어,0,0,0,0,0,0,0,0,...,2697.229980,85.660004,27.302999,1472.800049,12.69,70.989998,25.445833,28.377778,74.125,3.2750
28378,2024-12-31,광어,0,0,0,0,0,0,0,0,...,2697.229980,85.660004,27.302999,1472.800049,12.69,70.989998,25.445833,28.377778,74.125,3.2750

In [17]:

# 예측 시작일과 예측 범위 설정
start_date = pd.Timestamp('2025-01-01')  # 첫 번째 예측 날짜
num_days = 1  # 예측할 날짜 수 (이틀 후까지)

# 반복 예측을 위한 데이터프레임 복사
rolling_data = data.copy()

# 예측 결과 저장
predictions = []

for i in range(num_days):
    # 현재 예측 날짜와 이전 날짜 설정
    target_date = start_date + pd.Timedelta(days=i)
    previous_date = target_date - pd.Timedelta(days=1)

    # 이전 날짜 데이터로 피처 구성
    input_data = rolling_data[rolling_data['date'] == previous_date]
    if input_data.empty:
        print(f"데이터가 부족하여 {target_date}를 예측할 수 없습니다.")
        break

    # 필요한 피처만 선택
    X = input_data[feature_names]

    # 예측 실행
    predicted_price = loaded_model.predict(X)[0]  # 예측 값

    # 예측 값을 저장
    predictions.append({'Date': target_date.strftime('%Y-%m-%d'), 'Predicted_Price': predicted_price})

    # 예측 값을 다음날의 lag 피처로 추가
    new_row = {'date': target_date, 'avgPrice': predicted_price}
    rolling_data = pd.concat([rolling_data, pd.DataFrame([new_row])], ignore_index=True)

# 결과 출력
predictions_df = pd.DataFrame(predictions)
print("예측 결과:")
print(predictions_df)

# # CSV로 저장
# predictions_df.to_csv('rolling_predictions.csv', index=False)
# print("예측 결과가 'rolling_predictions.csv'에 저장되었습니다.")

예측 결과:
         Date  Predicted_Price
0  2025-01-01      44897.47914