TODO
1. 시장별 시가 확인
2. 시장별 메뉴 가격 확인
3. 상관관계 분석

In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import koreanize_matplotlib
from datetime import datetime, timedelta

In [14]:
file_path = "../data/raw/ikh_item_price_2025-01-14.csv"
df = pd.read_csv(file_path)
df["priceDate"] = pd.to_datetime(df["priceDate"])
market_item_price = df[df["priceDate"] == "2025-01-14"][['market', 'item', 'avgPrice']]
market_item_price.head()

         market item  avgPrice
3188     노량진 1층   농어     37250
6395       가락시장   농어     43000
8559     노량진 2층   농어     36430
11432  구리농수산물시장   농어     42500
14384  강서농수산물시장   농어     45000