TODO
1. 시장별 시가 확인
2. 시장별 메뉴 가격 확인
3. 상관관계 분석

In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import koreanize_matplotlib
from datetime import datetime, timedelta

In [45]:
file_path = "../data/raw/ikh_item_price_2025-01-14.csv"
df = pd.read_csv(file_path)
df["priceDate"] = pd.to_datetime(df["priceDate"])
df_market_item_price = df[df["priceDate"] == "2025-01-14"][['market', 'item', 'avgPrice']]
df_market_item_price[df_market_item_price['item'] == '광어']
df_market_item_price['item'].unique()

array(['농어', '광어', '대게', '연어', '우럭', '참돔', '방어'], dtype=object)

In [23]:
file_path = "../data/processed/ikh_store_meta_2025-01-14.csv"
df = pd.read_csv(file_path)
df_market_store = df[['market', 'store_id']]
df_market_store

          market  store_id
0         노량진 1층       833
1         노량진 1층         5
2         노량진 2층       822
3         노량진 1층        13
4         노량진 1층         6
..           ...       ...
148  부산민락어민활어직판장       123
149  부산민락어민활어직판장       338
150  부산민락어민활어직판장       433
151  부산민락어민활어직판장       388
152  부산민락어민활어직판장       122

[153 rows x 2 columns]

In [43]:
file_path = "../data/raw/ikh_store_menu_2025-01-14.csv"
df = pd.read_csv(file_path)
df_market_menu_price = df[['store_id', 'name', 'menu_id', 'menu']].copy()
df_market_menu_price['price'] = df['price'] - df['discount']
df_market_menu_price = pd.merge(df_market_store, df_market_menu_price, on="store_id", how="inner")
print(df_market_menu_price.shape)
df_market_menu_price.groupby(['name']).count().sort_values("store_id", ascending=False).head(20)

(7668, 6)

           market  store_id  menu_id  menu  price
name
대방어회          135       135      135   135    135
광우회           110       110      110   110    110
대광어회           89        89       89    89     89
도다리모둠회         86        86       86    86     86
광어연어회          79        79       79    79     79
광돔회            77        77       77    77     77
광연회            71        71       71    71     71
활모둠회           70        70       70    70     70
대방어모둠회         66        66       66    66     66
방어회            65        65       65    65     65
방어모둠회          62        62       62    62     62
방광회            60        60       60    60     60
연어회            58        58       58    58     58
특대방어회          56        56       56    56     56
도다리세꼬시모둠회      54        54       54    54     54
대방어광어회         53        53       53    53     53
광우연회           48        48       48    48     48
광참회            47        47       47    47     47
참광우회           46        46       46    46     46
참치모둠회          44        44       44    44     44

In [53]:
df_market_menu_price = df_market_menu_price[
    df_market_menu_price['name'].str.contains('^농어|^광어|^대게|^연어|^우럭|^참돔|^방어', na=False, regex=True)
]

In [54]:
df_market_menu_price.groupby(['name', 'market']).count().sort_values("store_id", ascending=False)

                   store_id  menu_id  menu  price
name    market
방어광어회   노량진 1층           36       36    36     36
광어연어회   노량진 1층           36       36    36     36
광어참돔회   노량진 1층           27       27    27     27
방어참돔회   노량진 1층           24       24    24     24
우럭모둠회   가락시장             19       19    19     19
...                     ...      ...   ...    ...
대게 2인세트 소래포구종합어시장         1        1     1      1
농어회시락   가락시장              1        1     1      1
우럭광어회   구리농수산물시장          1        1     1      1
우럭광어회   구리농수산물시장          1        1     1      1
광어회시락   가락시장              1        1     1      1

[124 rows x 4 columns]