In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import koreanize_matplotlib
import matplotlib.dates as mdates
from bs4 import BeautifulSoup
import requests
import glob
import numpy as np
import yfinance as yf
from sklearn.ensemble import RandomForestRegressor
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error
from sklearn.cluster import KMeans
from sklearn.preprocessing import StandardScaler
from sklearn.decomposition import PCA
import os

In [5]:
file_path = "../data/raw/ikh_item_price_2025-01-16.csv"
data = pd.read_csv(file_path)
# Step 2: 'priceDate'를 datetime 형식으로 변환
data['priceDate'] = pd.to_datetime(data['priceDate'], errors='coerce')

# Step 3: 결측치 제거 (날짜 변환 실패한 데이터 제거 포함)
data = data.dropna(subset=['priceDate'])

# Step 4: 2018년 이전 데이터 제거
data = data[data['priceDate'] >= '2018-01-01']

# 결과 확인 (옵션)
data.tail()
# [data["item"]=="방어2"]

        priceDate  minPrice  avgPrice  maxPrice item       market
137325 2025-01-11     50000     50000     50000  방어2  부산민락어민활어직판장
137326 2025-01-12     50000     50000     50000  방어2  부산민락어민활어직판장
137327 2025-01-13     50000     50000     50000  방어2  부산민락어민활어직판장
137328 2025-01-14     50000     50000     50000  방어2  부산민락어민활어직판장
137329 2025-01-16     50000     50000     50000  방어2  부산민락어민활어직판장