In [1]:
import numpy as np
import pandas as pd

In [14]:
방어_data = pd.read_csv('../../notebooks/시계열_의존성/방어_price_data.csv')
방어_data.info()
방어_data.columns

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11205 entries, 0 to 11204
Data columns (total 10 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   priceDate       11205 non-null  object
 1   item            11205 non-null  object
 2   market          11205 non-null  object
 3   minPrice        11205 non-null  float64
 4   avgPrice        11205 non-null  float64
 5   maxPrice        11205 non-null  float64
 6   avgPrice_lag_1  11195 non-null  float64
 7   avgPrice_lag_2  11185 non-null  float64
 8   avgPrice_lag_3  11175 non-null  float64
 9   avgPrice_lag_7  11139 non-null  float64
dtypes: float64(7), object(3)
memory usage: 875.5+ KB

Index(['priceDate', 'item', 'market', 'minPrice', 'avgPrice', 'maxPrice',
       'avgPrice_lag_1', 'avgPrice_lag_2', 'avgPrice_lag_3', 'avgPrice_lag_7'],
      dtype='object')

In [15]:
drop_list = ['minPrice', 'maxPrice',
       'avgPrice_lag_1', 'avgPrice_lag_2', 'avgPrice_lag_3', 'avgPrice_lag_7']
방어_data.drop(columns=drop_list, inplace=True)

In [16]:
방어_data

        priceDate item       market  avgPrice
0      2020-10-25   방어         가락시장   35000.0
1      2020-10-26   방어         가락시장   35000.0
2      2020-10-27   방어         가락시장   35000.0
3      2020-10-28   방어         가락시장   35000.0
4      2020-10-29   방어         가락시장   35000.0
...           ...  ...          ...       ...
11200  2025-01-15   방어  인천종합연안부두어시장   35000.0
11201  2025-01-16   방어  인천종합연안부두어시장   35000.0
11202  2025-01-17   방어  인천종합연안부두어시장   35000.0
11203  2025-01-18   방어  인천종합연안부두어시장   35000.0
11204  2025-01-19   방어  인천종합연안부두어시장   35000.0

[11205 rows x 4 columns]

방어_data